body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.b{
    border:1px solid red;
}

.form1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 900px;
    width: 100%;
}

.form-content {
    padding: 40px;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustration {
    width: 50%;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration img {
    width: 80%;
    height: auto;
}

h2 {
    margin-top: -20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    padding:25px;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

label {
    font-weight: bold;
    color: #555;
}

input {
        border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width:65%; 
    height: 40px;
}

input:focus {
    border-color: #6c63ff;
    outline: none;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #6c63ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    margin-top:20px;
}

.submit-btn:hover {
    background-color: #5548c8;
}

.signin-link {
    margin-top: 20px;
    color: #777;
    text-align: center;
}

.signin-link a {
    color: #6c63ff;
    text-decoration: none;
    font-weight: bold;
}

 
