 
.form1{
    width: 100%;
    height:100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.heading{
    width: 100%;
    height: 50px;
}
.form2{
    width:450px;
    height:400px;
} 
.btn{
    margin-left:100px;
    background-color: #006769;
    color: #B7B597;
    font-weight: bold;
    width: 200px;
    border:none;
}
.btn:hover{
    background-color:#B7B597;
    color: #006769;
}



